<aside>
    <div class="panel radius">
        <h3>Password Tips</h3>
        <p>&bull; To edit website content you'll need your Github password.<br/><br/>&bull; What is <a href="https://github.com/about">Github?</a>  It's the company that hosts the {% include config/target-website-name %} website.<br/><br/>&bull; Please keep your Github password secret and safe - it could be used to vandalise or take over the {% include config/target-website-name %} website. <br/><br/>&bull; You will also need passwords if you want to access social media or analytics accounts from here.<br/><br/>&bull; If your web browser is set up to remember passwords, you may not need to enter them here.</p>
    </div>
    
    <div class="panel radius">
        <h3>Content Editor Tips</h3>
        <p>&bull; It may take Github up to an hour to update the {% include config/target-website-name %} website to show the changes you made. A few minutes is more usual!<br/><br/>&bull; You can be relaxed about the wait - if something is wrong and Github can't apply your changes, they'll email you immediately.<br/><br/>
    </div>
</aside>

